.app-promo {
  height: 50px;
  background-color: $dark-blue;
}

.app-promo__wrap {
  @include wrap;
}

.app-promo__logo {
  margin-right: 9px;
}

.app-promo__img {
  display: block;
  border-radius: 50%;
}

.app-promo__description {
  font-size: 14px;
  color: #ffffff;
  line-height: 14px;
  margin-right: 17px;
}

.app-promo__name {
  display: block;
}

.app-promo__google-play {
  display: block;
  font-size: 10px;
  letter-spacing: 0.5px;
  font-weight: 100;
}

.app-promo__app-store {
  font-size: 10px;
  display: none;
}

.app-promo__download {
  @include btn(90px, 28px, #ffffff, $dark-blue);
  font-size: 12px;
  line-height: 14px;
  padding: 7px 10px;
  margin-right: 17px;
}

.app-promo__close {
  width: 11px;
  height: 11px;
  border: 0;
  padding: 0;
  background-color: transparent;

  &:hover,
  &:focus {
    cursor: pointer;
  }
}

.app-promo__close-icon {
  display: block;
  width: 11px;
  height: 11px;
}
