.app-promo {
  @include container;
  height: 50px;
  background-color: $dark-blue;
}

.app-promo__wrap {
  @include wrap;
  justify-content: space-between;
}

.app-promo__col {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  @media screen and (min-width: $tablet-widths) {
    width: auto;
  }
}

.app-promo__logo {
  margin-right: 9px;
}

.app-promo__img {
  display: block;
  border-radius: 50%;

  @media screen and (min-width: $tablet-widths) {
    border-radius: 0;
    width: 34px;
    height: 33px;
  }
}

.app-promo__description {
  font-size: 14px;
  color: #ffffff;
  line-height: 14px;

}

.app-promo__name {
  display: block;
}

.app-promo__google-play {
  display: block;
  font-size: 10px;
  letter-spacing: 0.5px;
  font-weight: 100;
  margin-bottom: 3px;

  @media screen and (min-width: $tablet-widths) {
    display: none;
  }
}

.app-promo__app-store {
  font-size: 10px;
  display: none;

  @media screen and (min-width: $tablet-widths) {
    display: block;
    letter-spacing: 0.9px;
  }
}

.app-promo__download {
  @include btn(90px, 28px, #ffffff, $dark-blue);
  font-size: 12px;
  line-height: 14px;
  padding: 7px 10px;
  margin-right: 17px;

  @media screen and (min-width: $tablet-widths) {
    width: 110px;
    margin-right: 29px;
    letter-spacing: 0.6px;
  }
}

.app-promo__close {
  width: 11px;
  height: 11px;
  border: 0;
  padding: 0;
  background-color: transparent;

  &:hover,
  &:focus {
    cursor: pointer;
  }
}

.app-promo__close-icon {
  display: block;
  width: 11px;
  height: 11px;
}
