.calendar-notes {
  width: 100%;
  padding-top: 16px;
  border-top: solid 0.5px $pinkish-grey;
  margin-bottom: 24px;

  @media screen and (min-width: $tablet-widths) {
    padding-top: 19px;
  }
}

.calendar-notes__show {
  @include text(16px, 20x, $cool-grey-two);
  width: auto;
  height: auto;
  padding: 0;
  background-color: transparent;
  border: 0;
  font-family: $font;
  display: inline-flex;
  align-items: center;
}

.calendar__icon {
  margin-right: 10px;

  @media screen and (min-width: $tablet-widths) {
    margin-right: 16px;
  }
}
