.contacts {
  @media screen and (min-width: $tablet-widths) {
    display: flex;
    flex-wrap: wrap;
  }
}

.contacts__map {
  display: block;
  margin-bottom: 15px;
  width: 264px;
  height: 176px;

  @media screen and (min-width: $tablet-widths) {
    width: 300px;
    height: 200px;
    margin-bottom: 0;
    margin-right: 16px;
  }
}

.contacts__info {
  @media screen and (min-width: $tablet-widths) {
    width: 300px;
  }

  @media screen and (min-width: $desktop-widths) {
    width: 584px;
  }
}

.contacts__title {
  @include text (15px, 21px, $dark-grey);
  margin-top: 0;
  letter-spacing: 0.8px;
  margin-bottom: 8px;

  @media screen and (min-width: $desktop-widths) {
    margin-bottom: 3px;
  }
}

.contacts__desc {
  @include text (16px, 25px, $dark-grey);
  margin: 0;
  letter-spacing: 0.05px;
  margin-bottom: 12px;
}

.contacts__link {
  color: $azure;
  padding-bottom: 5px;

  &:hover,
  &:focus {
    border-bottom: 2px dashed $azure;
  }

  &:active {
    border-bottom-style: solid;
  }
}
