.daily-records__wrap {
  @include wrap;
  border-radius: 5px;
  background-color: #f7f8f8;
  padding: 16px 16px 25px 16px;

  @media screen and (min-width: $tablet-widths) {
    padding: 28px 30px 30px 30px;
  }
}

.daily-records__title {
  @include text(19px, 23px, $dark-grey);
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 12px;
  padding: 0 3px;

  @media screen and (min-width: $tablet-widths) {
    letter-spacing: 0.6px;
    margin-bottom: 16px;
  }
}

.daily-records__info {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.daily-records__update {
  color: $pinkish-grey;
}


