.header {
  height: 48px;
  background-color: $bgc-dark-grey;
}

.header__wrap {
  @include wrap;
  justify-content: space-between;
  padding-bottom: 8px;
}

.header__logo {
  width: 108px;
  height: 29;
}
