.notes__wrap {
  @include wrap;
}

.notes__list {
  width: inherit;
  margin: 0;
  padding: 0;
  list-style: none;
}

.notes__item {
  margin-bottom: 13px;

  &:last-child {
    margin-bottom: 0;
  }
}
