.one-day-notes {
  margin: 0;
  padding: 0;
  list-style: none;
}

.one-day-notes__item {
  padding-bottom: 24px;
  margin-bottom: 24px;
  border-bottom: solid 0.5px $pinkish-grey;

  &:last-of-type {
    border: none;
    margin-bottom: 0;
  }

  &--checklists {
    border: none;
    padding-bottom: 0;
  }
}
