.one-note {
  margin-bottom: 22px;
}

.one-note__show {
  @include text(17px, 18px, $dark-grey);
  width: auto;
  height: auto;
  padding: 0;
  background-color: transparent;
  border: 0;
  font-family: $font;
  margin-bottom: 11px;
}

.one-note__icon {
  margin-right: 7px;
}

.one-note__desc {
  padding-left: 24px;
  color: $cool-grey-two;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.one-note__text {
  margin-bottom: 5px;
}

.one-note__text p {
    line-height: 25px;
    margin: 0;
}
