.one-note {
  width: 100%;
  position: relative;
}

.one-note--favorite {

  &::before {
    @include triangle($tomato);
    top: -16px;
    right: -16px;

    @media screen and (min-width: $tablet-widths) {
      top: -29px;
      right: -30px;
    }
  }

  &::after {
    @include elem(15px, 14px);
  }
}

.one-note__show {
  @include text(17px, 18px, $dark-grey);
  width: auto;
  height: auto;
  padding: 0;
  background-color: transparent;
  border: 0;
  font-family: $font;
  margin-bottom: 10px;

  @media screen and (min-width: $tablet-widths) {
    margin-bottom: 0;
    letter-spacing: -0.2px;
  }
}

.one-note__icon {
  margin-right: 7px;
  width: 16px;
  height: 14px;
  fill: $cool-grey;

  &--important {
    fill: #ed1e23;
  }

  @media screen and (min-width: $tablet-widths) {
    margin-right: 14px;
  }
}

.one-note__desc {
  width: 100%;
  padding-left: 29px;
  color: $cool-grey-two;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media screen and (min-width: $tablet-widths) {
    padding-left: 0;
    width: 160px;
  }
}

.one-note__text {
  margin-top: -5px;
  margin-bottom: 5px;

  @media screen and (min-width: $tablet-widths) {
    margin-top: -3px;
    margin-bottom: 22px;
  }
}

.one-note__text p {
    line-height: 25px;
    margin: 0;
    padding-right: 1px;

  @media screen and (min-width: $tablet-widths) {
    line-height: 26px;
  }
}

.one-note__date {
  order: -1;

  @media screen and (min-width: $tablet-widths) {
    order: 0;
  }
}

.one-note__media {
  @media screen and (min-width: $tablet-widths) {
    display: flex;
    flex-wrap: wrap;
  }
}
