.share-popup {
  @include elem(280px, 212px);
  position: fixed;
  margin-left: -140px;
  margin-top: -106px;
  border-radius: 3px;
  background-color: #ffffff;
  top: 50%;
  left: 50%;
  z-index: 9999;
}

.share-popup__title {
  margin: 0;
  padding: 22px 0;
  font-weight: normal;
  text-align: center;
  color: #494a4c;
  font-size: 23px;
}

.share-popup__content {
  width: inherit;
  height: 151px;
  border-radius: 3px;
  background-color: $pale-grey-two;
  text-align: center;
  padding: 21px 38px 30px;
}

.share-popup__close {
  cursor: pointer;
  @include elem(11px, 11px);
  padding: 0;
  border: 0;
  top: 13px;
  right: 13px;
}

.share-popup__close-icon {
  display: block;
  width: 11px;
  height: 11px;
}

.share-popup__link {
  display: block;
  text-align: center;
  font-size: 20px;
  color: #ffffff;
  background-color: $dark-blue;
  width: 151px;
  height: 24px;
  margin: 0 auto 36px;
  line-height: 23px;
}

.share-popup__social {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.share-popup__item {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-right: 20px;
  line-height: 36px;

  &:last-child {
    margin-right: 0;
  }

  &--facebook {
    background-color: #3a589c;
  }

  &--twitter {
    background-color: #29a9e1;
  }

  &--vk {
    background-color: #5a7ba0;
  }

  &--linkedin {
    background-color: #007bb8;
  }
}

