.sharing-buttons {
  height: inherit;
  width: 296px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  @media screen and (min-width: $tablet-widths) {
    width: auto;
    margin: 0;
    position: relative;
  }
}

.sharing-buttons__link {
  @include btn;
  display: inline-flex;

  font-size: 13px;
  line-height: 13px;
  padding: 9px 11px;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;

  &--follow {
    background-color: $dark-blue;
    color: #ffffff;

    &:active {
      background-color: #ffffff;
      color: $dark-blue;
    }

    @media screen and (min-width: $tablet-widths) {
      position: absolute;
      top: 57px;
      right: 0;
      width: 148px
      }
    }

  &--share {
    @media screen and (min-width: $tablet-widths) {
      width: 112px;
      height: 24px;
      color: #ffffff;
      border-radius: 4px;
      background-color: $light-grey-blue;

      &:hover,
      &:focus {
        transform: scale(1);

        background-color: $azure;
      }
    }
  }

  &:last-of-type,
  &:nth-last-of-type(2) {
    margin-bottom: 0;
  }
}

.sharing-buttons__name-btn {
  @media screen and (min-width: $tablet-widths) {
    display: none;
  }
}

.sharing-buttons__text-link {
  display: none;

  @media screen and (min-width: $tablet-widths) {
    display: block;
  }
}

.sharing-buttons__icon {
  margin-right: 5px;

  @media screen and (min-width: $tablet-widths) {
    display: none;
  }
}
