.social {
  @include list-reset;
  width: inherit;
  justify-content: flex-end;
}

.social__item {
  margin-right: 19px;

  &:last-child {
    margin-right: 0;
  }

  @media screen and (min-width: $tablet-widths) {
    margin-right: 12px;
  }
}

.social__item--user-info {
  margin-right: 16px;

  &:hover .social__link-icon,
  &:focus .social__link-icon {
    fill: $azure;
  }

  &:active {
    fill: $mid-blue;
  }
}

.social__link-icon {
  fill: #ffffff;
}

