@mixin wrap {
  height: inherit;
  width: 296px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  @media screen and (min-width: $tablet-widths) {
    width: 720px;
    margin: 0 auto;
  }

  @media screen and (min-width: $desktop-widths) {
    width: 960px;
    margin: 0 auto;
  }
}

@mixin container {
  @media screen and (min-width: $tablet-widths) {
    width: 768px;
  }

  @media screen and (min-width: $desktop-widths) {
    width: 1200px;
  }
}

@mixin elem ($width, $height) {
  content: ' ';
  width: $width;
  height: $height;
  position: absolute;
  z-index: 2;
}

@mixin triangle ($color) {
  content: ' ';
  width: 0;
  height: 0;
  position: absolute;
  z-index: 3;
  border-radius: 4px;
  border: 24px solid transparent;
  border-top: 24px solid $color;
  border-right: 24px solid $color;
  top: 0;
  right: 0;
}

@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-flex;
  align-items: center;
}

@mixin text ($font-size: 13px, $line-height: 13px, $color: $dark-grey) {
  font-size: $font-size;
  color: $color;
  line-height: $line-height;
}

@mixin text-small ($font-size: 13px, $color: #ffffff){
  font-size: $font-size;
  color: $color;
  line-height: 13px;
}

@mixin btn ($width: 140px, $height: 32px, $bg-color: #ffffff, $color: #37b7ec) {
  display: block;
  text-align: center;
  border-radius: 3px;
  width: $width;
  height: $height;
  background-color: $bg-color;
  color: $color;
  transform: scale(1);
  transition: transform 0.3s ease-out;

  &:hover,
  &:focus {
    transform: scale(1.1);
    transition: transform 0.3s ease-out;
  }

  &:active {
    background-color: $dark-blue;
    color: #ffffff;
  }
}
