@mixin text-small ($font-size: 13px, $color: #ffffff){
  font-size: $font-size;
  color: $color;
}

@mixin btn ($width: 140px, $height: 32px, $bg-color: #37b7ec, $color: #ffffff) {
  display: block;
  text-align: center;
  border-radius: 3px;
  font-size: 12px;
  line-height: 12px;
  padding: 7px 10px;
  width: $width;
  height: $height;
  background-color: $bg-color;
  color: $color;
}
