// Миксины для временного файла outline, отключаются вместе с файлом
@mixin box-shadow($color) {
  position: relative;
  box-shadow: 0 0 0 2px $color;
}

@mixin before($color) {
  background: $color;
  top: auto;
  bottom: 0;
  padding-left: 10px;
  padding-right: 10px;
  color: #ffffff;
  position: absolute;
}

// .header {
//   @include box-shadow(#008000);

//   &::before {
//     @include before(#008000);
//     content: ".header";
//   }
// }

// .header__wrap {
//   @include box-shadow(#ff2d52);

//   &::before {
//     @include before (#ff2d52);
//     content: ".header__wrap";
//   }
// }

.inner-page__wrap {
  @include box-shadow(#008000);

  &::before {
    @include before(#008000);
    content: ".inner-page__wrap";
  }
}

.inner-page__name--index {
  @include box-shadow(#272cfd);

  &::before {
    @include before(#272cfd);
    content: ".inner-page__name--index";
  }
}

.inner-page__name {
  @include box-shadow(#ff2d52);

  &::before {
    @include before(#ff2d52);
    content: ".inner-page__name";
  }
}

.production {
  @include box-shadow(#ff2d52);

  &::before {
    @include before(#ff2d52);
    content: ".production";
  }
}

.production__list {
  @include box-shadow(#272cfd);

  &::before {
    @include before(#272cfd);
    content: ".production__list";
  }
}

.product {
  @include box-shadow(#272cfd);

  &::before {
    @include before(#272cfd);
    content: ".product";
  }
}

.features {
  @include box-shadow(#ff2d52);

  &::before {
    @include before(#ff2d52);
    content: ".features";
  }
}

.reviews {
  @include box-shadow(#ff2d52);

  &::before {
    @include before(#ff2d52);
    content: ".reviews";
  }
}

.contacts {
  @include box-shadow(#ff2d52);

  &::before {
    @include before(#ff2d52);
    content: ".contacts";
  }
}

.contacts__info {
  @include box-shadow(#272cfd);

  &::before {
    @include before(#272cfd);
    content: ".contacts__info";
  }
}

.contacts__maps {
  @include box-shadow(#272cfd);

  &::before {
    @include before(#272cfd);
    content: ".contacts__maps";
  }
}

// .footer {
//   @include box-shadow(#ff2d52);

//   &::before {
//     @include before(#ff2d52);
//     content: ".footer";
//   }
// }

// .social {
//   @include box-shadow(#272cfd);

//   &::before {
//     @include before(#272cfd);
//     content: ".social";
//   }
// }

// .copyright {
//   @include box-shadow(#272cfd);

//   &::before {
//     @include before(#272cfd);
//     content: ".copyright";
//   }
// }

.add-to-cart {
  @include box-shadow(#008000);

  &::before {
    @include before(#008000);
    content: ".add-to-cart";
  }
}

.catalog {
  @include box-shadow(#ff2d52);

  &::before {
    @include before(#ff2d52);
    content: ".catalog";
  }
}

.video {
  @include box-shadow(#ff2d52);

  &::before {
    @include before(#ff2d52);
    content: ".video";
  }
}

.order {
  @include box-shadow(#ff2d52);

  &::before {
    @include before(#ff2d52);
    content: ".order";
  }
}

.order__fieldset {
  @include box-shadow(#272cfd);

  &::before {
    @include before(#272cfd);
    content: ".order__fieldset";
  }
}
