$tablet-widths: 768px;
$desktop-widths: 1150px;

$font: 'HelveticaNeue', 'Helvetica', sans-serif;
$bg-color: #aecad5;
$bgc-dark-grey: #3c434a;

$steel-grey: #757e87;
$azure: #00aeff;
$cool-grey-two: #979ea4;
$cool-grey-three: #8c9399;
$cool-grey-four: #aeb4ba;
$cool-grey-five: #979da3;
$warm-grey: #858585;
$azure-two: #009ce6;
$white-two: #d8d8d8;
$greyish-brown: #494949;
$pinkish-grey: #bdbdbd;
$coral: #fa5346;
$white-50: rgba(255, 255, 255, 0.5);
$black-50: rgba(0, 0, 0, 0.5);
$reddish-brown: #5d130d;
$black: #383838;
$azure-three: #00adff;
$black-two: #333333;
$pale-grey: #e7edf2;
$dark-sky-blue: #3686e2;
$cloudy-blue: #cdd7df;
$mid-blue: #2c5db4;
$dark-sky-blue-two: #1f8adc;
$nice-blue: #166cae;
$white-50-two: rgba(250, 250, 250, 0.5);
$greyish-brown-two: #404040;
$dark-blue: #37b7ec;
$cool-grey: #a6aeb6;
$azure-three-90: rgba(0, 173, 255, 0.9);
$dodger-blue: #3b99fc;
$tomato: #ef4b2b;
$dark-grey: #2c2f31;
$bright-sky-blue: #24baff;
$charcoal-grey-two: #404143;
$pale-grey-two: #f0f5fa;
$charcoal-grey-three: #2e3439;
$light-grey-blue: #92b6c4;
